#logo{
    margin-left: 40%;
}

.admin-sidebar-header h5 {
    font-size: 2.0rem;
    font-weight: 800;
    letter-spacing: -0.5px;
    color: #1f2937;
}

.admin-sidebar-header h5 span {
    color: #FF5A5F;
    font-weight: 900;
}