
    /* APPOINTMENT FORM STYLING */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* --------- */

.card {
    border-radius: 18px;
    background: #fef9f9;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2F2F3A;
    background: linear-gradient(135deg, #f6a2a2 , #FF5A5F);
    min-height: 100vh;
}


.card-header {
    background: transparent !important;
    border-bottom: none;
    padding-top: 30px;
}

.container.my-5 {
    background: transparent;
}


.card-header h4 {
    font-weight: 800;
    color: #2F2F3A;
}

.form-control,
.form-select {
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #ddd;
}

.form-control:focus,
.form-select:focus {
    border-color: #ff5a5f;
    box-shadow: 0 0 0 2px rgba(255,90,95,.15);
}

label {
    font-weight: 600;
    margin-bottom: 6px;
}

.btn-success {
    background: #FF5A5F;
    border: none;
    border-radius: 40px;
    padding: 12px;
}

.btn-success:hover {
    background: #e64b50;
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(255,90,95,.35);
}

.btn-secondary {
    border-radius: 40px;
}

.shadow-lg {
    box-shadow: 0 15px 40px rgba(0,0,0,.08)!important;
}

