body{
    background-color: #f2e5f9;
}

#carousel_img {
    height: 500px;
    object-fit: cover;
}

#hover-underline {
    position: relative;
    display: flex;
    height: 283px;
    margin-left:20%;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.4s;
}

#hover-underline:hover{
    transform:translateY(-10px);
}

#hover-underline::after,
#hover-underline::before {
    content: '';
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: 0px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;

}

#hover-underline::before {
    top: 0px;
    transform-origin: left;
    border-radius: 5px;
}

#hover-underline:hover::after,
#hover-underline:hover::before {
    border-radius: 5px;
    transform: scaleX(1);
}